/*Documento CSS*/

body { font-family: "Mulish", sans-serif; 
        }

h1 { background-color:  rgb(253, 204, 90);
    color: white; }

h2 { background-color: rgb(253, 204, 90);
    color: white; }

h3 { color: rgb(238, 173, 88); }

